* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
}

.wrapper{
    max-width: 1024px;
    padding: 80px 30px 30px;
    padding-bottom: 0;
    height: 100%;
    margin: 0 auto;
    
    &__main{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-weight: 300;
    line-height: 38px;
}

.txt-large{
    font-size: 1.375rem;
}

@media screen and (max-width: 1024px) {
    .wrapper{
        padding: 30px;

        &__main{
            padding-top: 40px;
        }
    }
}

@media screen and (max-width: 670px) {
    .txt-large{
        font-size: 1.125rem;
    }

    p{
        line-height: 30px;
    }
}

@media screen and (min-width: 501px) and (max-width: 670px) {
    h1 {
        font-size: 2.625rem;
    }
}

@media screen and (max-width: 500px) {
    .wrapper{
        padding: 20px;

        &__main{
            padding-top: 30px;
        }
    }

    h1 {
        font-size: 2.25rem;
    }

    .txt-large{
        font-size: 1rem;
    }
}