.content-media{
    width: 754px;
    margin:0;

    &__img-wrapper{
        text-decoration: none;
        cursor:auto;

        & img{
            width: 100%;
            display: block;
            border-radius: 8px;
            transition: transform .35s ease!important;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        &:hover img{
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: 1024px) {
    .content-media{
        width: 60%;
    }
}

@media screen and (max-width: 670px) {
    .content-media{
        width: 100%;
        margin-bottom: 20px;
    }
}